@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.navigation {
    background-color:cornsilk;
}
.account {
    padding: 26px;
    border: 1px solid black;
    text-align: center;
    // margin: 30px;
}